# Ambientes
.venv/
venv/
env/

# Variáveis de ambiente
.env

# Cache e temporários
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Dados pesados e artefatos
02_dados/brutos/*
!02_dados/brutos/.gitkeep
06_modelos_treinados/*
!06_modelos_treinados/.gitkeep

# Saídas de experimentos
05_experimentos/**/log.txt
05_experimentos/**/resultados.json
